body { 
  font-family: 'EB Garamond', serif;
  background: url("../archivos/mercadillo-acuarela.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #333;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: -1;
}

header {
  background-color: #9e505480;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo h2 {
  margin: 0;
  font-size: 1.6rem;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ffcc00;
}

.acciones {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.foto-perfil-home {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}

.foto-perfil-home:hover {
  transform: scale(1.1);
}

#logout {
  background-color: #9e505480;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

#logout:hover {
  background-color: #ee636a80;
}


main {
  padding-top: 2rem;
}


.contenedor-reservas {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.res-card {
  display: flex;
  background: rgba(255, 255, 255, 0.80);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  padding: 15px;
  align-items: center;
  width: 100%;
  gap: 20px;
  border-left: 6px solid #9e5054;
  transition: 0.3s ease;
}

.res-card:hover {
  transform: scale(1.02);
}


.res-img {
  width: 220px;
  height: 150px;
  border-radius: 12px;
  object-fit: cover;
  flex-shrink: 0;
}


.res-info {
  flex: 1;
}

.res-info h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #6a3336;
}

.res-info p {
  margin: 6px 0;
  font-size: 1.1rem;
  color: #333;
}


.btn-reservar {
  background-color: #9e5054d0;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-reservar:hover {
  background-color: #ee636ad0;
}
